* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: #d1cfcf;
  
  }
  
  .navbar {
    background-color: #333;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
  }
  
  .navbar-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .navbar-menu {
    list-style: none;
  
  }
  
  .navbar-menu li {
    margin-left: 14px;
    font-size: 20px;
    padding: 10px;
  }
  
  .navbar-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-menu li a:hover {
    background-color: darkred;
  }
  
  .navbar-toggle {
    display: none;
  }
  
  .navbar-toggle-label {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
  }
  
  .navbar-toggle-icon {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    position: relative;
    transition: background-color 0.3s ease;
  }
  
  .navbar-toggle-icon:before,
  .navbar-toggle-icon:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    transition: transform 0.3s ease;
  }
  
  .navbar-toggle-icon:before {
    top: -8px;
  }
  
  .navbar-toggle-icon:after {
    top: 8px;
  }
  
  .navbar-toggle:checked~.navbar-toggle-label .navbar-toggle-icon {
    background-color: transparent;
  }
  
  .navbar-toggle:checked~.navbar-toggle-label .navbar-toggle-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  
  .navbar-toggle:checked~.navbar-toggle-label .navbar-toggle-icon:after {
    transform: rotate(45deg);
    top: 0;
  }
  
  .navbar-toggle:checked~.navbar-menu {
    display: block;
    max-height: 500px;
  }
  
  .main{
    display: grid;
    place-items: center;
    margin-top: 200px;
  }
  
  .main h1{
    font-size: 50px;
  }
  
  .section-options{
    margin-top: 60px;
    display: grid;
    place-items: center;
  
    display: flex;
    gap: 60px;
    flex-direction: column;
  }

  
  .bloco i{
    font-size: 80px; 
    padding: 20px;
  }

  .article{
    display: grid;
    place-items: center;
    margin-top: 60px;
  }

  .icones {
    display: flex;
    gap: 100px;
    cursor: pointer;
  }
  
  .icones i{
    font-size: 50px;
  }
