<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mateuszmalczak/glassmorphism/css/glassmorphism.min.css">

</head>
<body>
    <header id="header">
        <ul class="informations">
            <li class="buttons">HOME</li>
            <li class="buttons">ABOUT US</li>
            <li class="buttons">SERVICES</li>
            <li class="buttons">APPOINTMENTS</li>
            <li class="buttons">COUPONS</li>
            <li class="buttons">FAQ</li>
            <li class="buttons">CONTACT US</li>
        </ul>
        <ul class="checkout">
            <li class="buttons" onclick="exitF()">LOGOUT</li>
            <li class="buttons">REGISTER</li>
        </ul>
    </header>


    <a href="../carroEntregue/listarCarroEntregue.php"></a>
    <a href="../indexaksdk.html"></a>
    <main id="main-content">
        <div class="block1 block glassmorphism" onclick="cadastroF()"><h1>Cadastros</h1></div>
        <div class="block2 block glassmorphism" onclick="processoF()"><h1>Estágio Processo</h1></div>
        <div class="block3 block glassmorphism" onclick="acompanhamentoF()"><h1>Acompanhamento</h1></div>
        <div class="block4 block glassmorphism" onclick="esperaF()"><h1>Veículos em Espera</h1></div>
        <div class="block5 block glassmorphism" onclick="servicoF()"><h1>Veículos em Serviço</h1></div>
        <div class="block6 block glassmorphism" onclick="prontosF()"><h1>Veículos Prontos</h1></div>
        <div class="block7 block glassmorphism" onclick="entregueF()"><h1>Veículos Entregues</h1></div>
        <div class="block8 block glassmorphism" onclick="sairF()"><h1>Sair</h1></div>
    </main>
    <script src="./configs.js"></script>
</body>
</html>