* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #333;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

.navbar-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #333;
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.navbar-menu {
  list-style: none;

}

.navbar-menu li {
  margin-left: 14px;
  font-size: 20px;
  padding: 10px;
}

.navbar-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navbar-menu li a:hover {
  background-color: darkred;
}

.navbar-toggle {
  display: none;
}

.navbar-toggle-label {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
}

.navbar-toggle-icon {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  position: relative;
  transition: background-color 0.3s ease;
}

.navbar-toggle-icon:before,
.navbar-toggle-icon:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  transition: transform 0.3s ease;
}

.navbar-toggle-icon:before {
  top: -8px;
}

.navbar-toggle-icon:after {
  top: 8px;
}

.navbar-toggle:checked~.navbar-toggle-label .navbar-toggle-icon {
  background-color: transparent;
}

.navbar-toggle:checked~.navbar-toggle-label .navbar-toggle-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.navbar-toggle:checked~.navbar-toggle-label .navbar-toggle-icon:after {
  transform: rotate(45deg);
  top: 0;
}

.navbar-toggle:checked~.navbar-menu {
  display: block;
  max-height: 500px;
}

/* COMEÇO ESTILIZAÇÃO DO MENU */

main {
  display: grid;
  place-items: center;
  margin-top: 100px;
}

#section-content {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.block img {
  height: 300px;
  opacity: 0.6;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.block:hover img {
  transform: scale(1.3);
}

.block {
  width: 100%;
  height: 300px;
  background-color: black;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.block h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  font-size: 50px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.block:hover h2 {
  opacity: 1;
}

.block1,
.block2,
.block3,
.block4,
.block5,
.block6,
.block7 {
  margin-bottom: 50px;
}